* {
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Lobster', cursive;
  font-size: 1.1rem;
  color: #0a3d62;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
ul {
  margin: 0;
  padding-left: 0;
}
li {
  list-style: none;
}

button {
  border-style: none;
  transition: background-color 0.2s;
}

button:hover {
  cursor: pointer;
  background-color: #dff9fb;
}

input {
  padding: 5px;
  outline: 0;
  border: 0;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

textarea {
  padding: 5px;
  outline: 0;
  border: 0;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#wrapper {
  width: 400px;
  margin: 0 auto;
}

#greeting {
  font-size: 5rem;
  text-shadow: 0 0 12px black;
  color: white;
  padding-bottom: 1rem;
  /* animation-duration: 3s;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}

@keyframes slide {
  from {
  }
  to {
    transform: translate(50%);
  }
}

#greeting:hover {
  animation-play-state: paused;
  cursor: default;
}

.wrapUp {
  background-color: rgba(230, 126, 34, 0.8);
  padding: 0.5rem;
  color: white;
  margin-bottom: 0.5rem;
}

#writeBox1 {
  width: 80%;
  font-size: 0.9rem;
}

#writeBox2 {
  width: 80%;
  font-size: 0.9rem;
}

#addBtn {
  height: 2rem;
}

article {
  background-color: rgba(241, 196, 15, 0.8);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#refresh {
  height: 2rem;
}

ul {
  background-color: rgba(236, 240, 241, 0.8);
  padding: 1.5rem;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted;
  margin: 0.5rem 0 0.8rem;
}

.commentId {
  font-size: 1.1rem;
  transition: all 0.2s;
}
.commentText {
  margin: 0 0 0.5rem 0;
  color: gray;
}
.commetDate {
  color: gray;
}

.commentId:hover {
  color: #006266;
  cursor: pointer;
}

.deleteMsg {
  background-color: rgba(230, 126, 34, 0.8);
}

.good {
  background-color: gray;
}

.yellow {
  background-color: rgba(241, 196, 15, 0.8);
}
